<footer class="footer-hoopr">
  <div class="container">
    
    <nav class="row">    
      <div class="col-xs-12 col-md-6">  
        <div class="col-xs-12 col-md-12">
          <span>Join the community of thousand of creators on India's largest Music Licensing Marketplace</span>
        </div>
        
        <div class="col-xs-12 col-md-12">
          <a class="btn hoopr-btn-secondary hoopr-btn-secondary-large">SUBCRIBE NOW</a>
        </div>  
      </div>

      <div class="col-xs-12 col-md-2">
        <!-- EMPTY -->
      </div>
      
      <div class="col-xs-12 col-md-4">
          <img src="/assets/hoopr.svg">
      </div>
    </nav>

  </div>
</footer>